

/*===============[modal]===================*/
.modal {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    width: 100%;
    height: 100%;

    display: none;

    z-index: 9999;

    justify-content: center;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.5)
}

.modal.is-active {
    display: flex;
}
.textarea {
    background-color: white;
    border-color: gray;
    color: #363636;
    box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
    max-width: 100%;
    width: 100%;
    border-radius: 5px;
    font-size: 16px;
}

