
@import url('https://fonts.googleapis.com/css?family=Roboto');
 
* {
  box-sizing: border-box;
}

/* icon1 */
.icon1 {
  color: #023ab3;
  position: relative;
  padding: 50px;
  background:linear-gradient(to bottom, #39bdde 5%, #396ddf 100%);
  border-radius:10%;
  transition: transform .2s;
  width: 180px;
  height: 180px;
  margin: 0 auto;
  box-shadow: 0 4px 8px 0 rgba(27, 92, 233, 0.705),0 6px 20px 0 rgba(27, 92, 233, 0.705);
  cursor: pointer;
}
.icon1:hover {
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2); 
}
.icon1-logo-size{
  font-size: 70px;
  position: absolute;
  top: 15px;
  left: 59px;
}
.text-icon1{
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  top: 110px;
  left: 36px;
  color: #023094;
}

/* icon2 */
.icon2 {
  color: #5903a0;
  position: relative;
  padding: 50px;
  background:linear-gradient(to bottom, #c169fc 5%, #812ee0 100%);
  border-radius:10%;
  transition: transform .2s;
  width: 180px;
  height: 180px;
  margin: 0 auto;
  box-shadow: 0 4px 8px 0 rgba(175, 27, 233, 0.705),0 6px 20px 0 rgba(133, 27, 233, 0.705);
  cursor: pointer;
}
.icon2:hover {
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2); 
}

.icon2-logo-size{
  font-size: 70px;
  position: absolute;
  top: 15px;
}
.text-icon2{
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  top: 110px;
  left: 57px;
  color: #3e046d;
}

/* icon3 */
.icon3 {
  color: #03a003;
  position: relative;
  padding: 50px;
  background:linear-gradient(to bottom, #69fc70 5%, #2ee02e 100%);
  border-radius:10%;
  transition: transform .2s;
  width: 180px;
  height: 180px;
  margin: 0 auto;
  box-shadow: 0 4px 8px 0 rgba(27, 233, 44, 0.705),0 6px 20px 0 rgba(27, 233, 37, 0.705);
  cursor: pointer;
}
.icon3:hover {
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2); 
}

.icon3-logo-size{
  font-size: 70px;
  position: absolute;
  left: 60px;
  top: 15px;
}
.text-icon3{
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  top: 110px;
  left: 30px;
  color: #057e1f;
}

/* icon4 */
.icon4 {
  color: #a00303;
  position: relative;
  padding: 50px;
  background:linear-gradient(to bottom, #fc6969 5%, #e02e2e 100%);
  border-radius:10%;
  transition: transform .2s;
  width: 180px;
  height: 180px;
  margin: 0 auto;
  box-shadow: 0 4px 8px 0 rgba(233, 27, 27, 0.705),0 6px 20px 0 rgba(233, 27, 27, 0.705);
  cursor: pointer;
}
.icon4:hover {
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2); 
}

.icon4-logo-size{
  font-size: 70px;
  position: absolute;
  left: 60px;
  top: 15px;
}
.text-icon4{
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  top: 110px;
  left: 64px;
  color: #7e0505;
}

/* icon5 */
.icon5 {
  color: #a04f03;
  position: relative;
  padding: 50px;
  background:linear-gradient(to bottom, #fcab69 5%, #e07e2e 100%);
  border-radius:10%;
  transition: transform .2s;
  width: 180px;
  height: 180px;
  margin: 0 auto;
  box-shadow: 0 4px 8px 0 rgba(233, 109, 27, 0.705),0 6px 20px 0 rgba(233, 127, 27, 0.705);
  cursor: pointer;
}
.icon5:hover {
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2); 
}

.icon5-logo-size{
  font-size: 70px;
  position: absolute;
  left: 60px;
  top: 15px;
}
.text-icon5{
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  top: 110px;
  left: 56px;
  color: #7e4605;
}

/* icon6 */
.icon6 {
  color: #948b15;
  position: relative;
  padding: 50px;
  background:linear-gradient(to bottom, #f7e866 5%, #dfcc29 100%);
  border-radius:10%;
  transition: transform .2s;
  width: 180px;
  height: 180px;
  margin: 0 auto;
  box-shadow: 0 4px 8px 0 rgba(233, 230, 27, 0.925),0 6px 20px 0 rgb(233, 219, 27);
  cursor: pointer;
}
.icon6:hover {
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2); 
}

.icon6-logo-size{
  font-size: 70px;
  position: absolute;
  left: 49px;
  top: 15px;
}
.text-icon6{
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  top: 110px;
  left: 46px;
  color: #83810e;
}


  
